# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/
ENV/

# Data files
*.csv
*.parquet

# Terraform files
.terraform/
*.tfstate
*.tfstate.backup

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build artifacts directory
/dist/

# Ignore installed packages inside Lambda source directories
src/splitter_lambda/*
!src/splitter_lambda/main.py
!src/splitter_lambda/requirements.txt

src/status_checker_lambda/*
!src/status_checker_lambda/main.py
!src/status_checker_lambda/requirements.txt

# Ignore pyabsa/bertopic model checkpoints and outputs
notebooks/checkpoints/
notebooks/*.json